<a href="https://colab.research.google.com/github/ArvindDs/Projects/blob/main/Project_7_Pandas_Python7_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DESCRIPTION

Problem:

Analyze the Federal Aviation Authority (FAA) dataset using Pandas to do the following:

View
aircraft make name
state name
aircraft model name
text information
flight phase
event description type
fatal flag
         2. Clean the dataset and replace the fatal flag NaN with “No”

3. Find the aircraft types and their occurrences in the dataset

4. Remove all the observations where aircraft names are not available

5. Display the observations where fatal flag is “Yes”

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# import the library
import pandas as pd            #for reading & storing data, pre-processing

In [ ]:
#read the dataframe
# checkout the first five rows
df=pd.read_csv('/content/drive/MyDrive/faa_ai_prelim.csv')
df.head()

  UPDATED ENTRY_DATE  ... GRND_INJ_FATAL GRND_INJ_UNK
0      No  19-FEB-16  ...            NaN          NaN
1      No  19-FEB-16  ...            NaN          NaN
2      No  19-FEB-16  ...            NaN          NaN
3      No  19-FEB-16  ...            NaN          NaN
4      No  19-FEB-16  ...            NaN          NaN

[5 rows x 42 columns]

In [ ]:
# shape of the dataframe
df.shape

(83, 42)

In [ ]:
# view all the columns of the dataset
df.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=83, step=1)

In [ ]:
# view all the columns present in the dataset
df.describe()

       ACFT_MISSING_FLAG  FAR_PART  ...  GRND_INJ_FATAL  GRND_INJ_UNK
count                0.0       1.0  ...             0.0           1.0
mean                 NaN      91.0  ...             NaN           2.0
std                  NaN       NaN  ...             NaN           NaN
min                  NaN      91.0  ...             NaN           2.0
25%                  NaN      91.0  ...             NaN           2.0
50%                  NaN      91.0  ...             NaN           2.0
75%                  NaN      91.0  ...             NaN           2.0
max                  NaN      91.0  ...             NaN           2.0

[8 rows x 22 columns]

In [ ]:
# create a new dataframe with only required coumns.
df_new=df[['UPDATED',	'ENTRY_DATE',	'EVENT_LCL_DATE',	'EVENT_LCL_TIME',	'LOC_CITY_NAME',	'LOC_STATE_NAME','LOC_CNTRY_NAME','ACFT_MAKE_NAME','FATAL_FLAG']]

In [ ]:
# view the new data set
df_new.head()

  UPDATED ENTRY_DATE EVENT_LCL_DATE  ... LOC_CNTRY_NAME ACFT_MAKE_NAME FATAL_FLAG
0      No  19-FEB-16      19-FEB-16  ...            NaN          BEECH        Yes
1      No  19-FEB-16      18-FEB-16  ...            NaN           VANS        NaN
2      No  19-FEB-16      18-FEB-16  ...            NaN         CESSNA        NaN
3      No  19-FEB-16      18-FEB-16  ...            NaN        LANCAIR        NaN
4      No  19-FEB-16      18-FEB-16  ...            NaN         CESSNA        NaN

[5 rows x 9 columns]

In [ ]:
# view the type of the object
type(df_new.head)

method

In [ ]:
# replace NaN in LOC_CNTRY_NAME with No
df_new['LOC_CNTRY_NAME'].fillna(value='NO',inplace= True)
df_new['FATAL_FLAG'].fillna(value='NO',inplace= True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
# view first five obserations
df_new.head()

  UPDATED ENTRY_DATE EVENT_LCL_DATE  ... LOC_CNTRY_NAME ACFT_MAKE_NAME FATAL_FLAG
0      No  19-FEB-16      19-FEB-16  ...             NO          BEECH        Yes
1      No  19-FEB-16      18-FEB-16  ...             NO           VANS         NO
2      No  19-FEB-16      18-FEB-16  ...             NO         CESSNA         NO
3      No  19-FEB-16      18-FEB-16  ...             NO        LANCAIR         NO
4      No  19-FEB-16      18-FEB-16  ...             NO         CESSNA         NO

[5 rows x 9 columns]

In [ ]:
df_new.shape

(83, 9)

In [ ]:
# drop values where aircraft make name ACFT_MAKE_NAME is not avilable
df_new_final=df_new.dropna(subset=['ACFT_MAKE_NAME'])

In [ ]:
df_new_final.shape

(78, 9)

In [ ]:
# group by aircraft name
group_aircraft_name=df_new_final.groupby(['ACFT_MAKE_NAME'])

In [ ]:
group_aircraft_name.head()

   UPDATED ENTRY_DATE  ...          ACFT_MAKE_NAME FATAL_FLAG
0       No  19-FEB-16  ...                   BEECH        Yes
1       No  19-FEB-16  ...                    VANS         NO
2       No  19-FEB-16  ...                  CESSNA         NO
3       No  19-FEB-16  ...                 LANCAIR         NO
4       No  19-FEB-16  ...                  CESSNA         NO
5       No  19-FEB-16  ...                    BELL         NO
6       No  18-FEB-16  ...                   PIPER         NO
7       No  18-FEB-16  ...                  CESSNA         NO
8       No  18-FEB-16  ...                  BOEING         NO
10      No  18-FEB-16  ...                  CESSNA         NO
12      No  17-FEB-16  ...                  CESSNA         NO
14      No  17-FEB-16  ...                   BEECH         NO
16      No  17-FEB-16  ...                CHRISTEN         NO
17      No  17-FEB-16  ...                   PIPER         NO
18      No  17-FEB-16  ...                   PIPER         NO
20      No  17-FEB-16  ...                  HUGHES         NO
23      No  17-FEB-16  ...                  BOEING         NO
24      No  16-FEB-16  ...                   GLOBE         NO
25      No  16-FEB-16  ...                   PIPER         NO
26      No  16-FEB-16  ...             GREAT LAKES         NO
28      No  16-FEB-16  ...     CONSOLIDATED VULTEE         NO
30      No  16-FEB-16  ...                   BEECH         NO
32      No  16-FEB-16  ...               FAIRCHILD         NO
33      No  16-FEB-16  ...                  SOCATA         NO
34      No  16-FEB-16  ...                    SAAB         NO
35      No  16-FEB-16  ...                 EMBRAER         NO
36     Yes  16-FEB-16  ...                   MAULE         NO
37      No  16-FEB-16  ...                 ENSTROM         NO
38      No  16-FEB-16  ...                   BEECH         NO
39      No  16-FEB-16  ...                  MOONEY         NO
40      No  16-FEB-16  ...                   PITTS         NO
44      No  16-FEB-16  ...  AEROSTAR INTERNATIONAL         NO
46      No  16-FEB-16  ...                CHAMPION         NO
47      No  16-FEB-16  ...                    BELL         NO
48      No  16-FEB-16  ...                  AIRBUS         NO
49      No  16-FEB-16  ...                 GRUMMAN         NO
50      No  16-FEB-16  ...              GULFSTREAM         NO
51     Yes  12-FEB-16  ...                  SOCATA         NO
53      No  12-FEB-16  ...                   PIPER        Yes
55      No  11-FEB-16  ...           FLIGHT DESIGN        Yes
61      No  09-FEB-16  ...                   BEECH         NO
67      No  08-FEB-16  ...                 LANCAIR         NO
69      No  08-FEB-16  ...                  MOONEY         NO
70      No  08-FEB-16  ...          AERO COMMANDER         NO
72      No  08-FEB-16  ...                  MOONEY         NO
74      No  08-FEB-16  ...              SABRELINER         NO
75      No  08-FEB-16  ...                  MOONEY         NO
77      No  08-FEB-16  ...                  BOEING         NO
78      No  08-FEB-16  ...                 AERONCA         NO
79      No  08-FEB-16  ...          NORTH AMERICAN        Yes
80      No  08-FEB-16  ...                CHAMPION        Yes

[51 rows x 9 columns]

In [ ]:
# view the size of the name.       mean how ment times a make name appeared in the dataset
group_aircraft_name.size()

ACFT_MAKE_NAME
AERO COMMANDER             1
AERONCA                    1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
BEECH                      9
BELL                       2
BOEING                     3
CESSNA                    23
CHAMPION                   2
CHRISTEN                   1
CONSOLIDATED VULTEE        1
EMBRAER                    1
ENSTROM                    1
FAIRCHILD                  1
FLIGHT DESIGN              1
GLOBE                      1
GREAT LAKES                1
GRUMMAN                    1
GULFSTREAM                 1
HUGHES                     1
LANCAIR                    2
MAULE                      1
MOONEY                     4
NORTH AMERICAN             1
PIPER                     10
PITTS                      1
SAAB                       1
SABRELINER                 1
SOCATA                     2
VANS                       1
dtype: int64

In [ ]:
# group by FATAL_FLAG accident name
accident_fatal=df_new_final.groupby(['FATAL_FLAG'])

In [ ]:
accident_fatal.size()

FATAL_FLAG
NO     71
Yes     7
dtype: int64

In [ ]:
# select the accident with fatality yes
fetal_accident=accident_fatal.get_group('Yes')

In [ ]:
# view the accident with fatality
fetal_accident

   UPDATED ENTRY_DATE EVENT_LCL_DATE  ... LOC_CNTRY_NAME  ACFT_MAKE_NAME FATAL_FLAG
0       No  19-FEB-16      19-FEB-16  ...             NO           BEECH        Yes
53      No  12-FEB-16      11-FEB-16  ...  United States           PIPER        Yes
55      No  11-FEB-16      11-FEB-16  ...             NO   FLIGHT DESIGN        Yes
79      No  08-FEB-16      05-FEB-16  ...             NO  NORTH AMERICAN        Yes
80      No  08-FEB-16      05-FEB-16  ...             NO        CHAMPION        Yes
81      No  08-FEB-16      05-FEB-16  ...             NO           BEECH        Yes
82     Yes  02-FEB-16      02-FEB-16  ...             NO          CESSNA        Yes

[7 rows x 9 columns]